@page "/"
@using BlazorApp1.DB.Repository
@using BlazorApp1.Models

<PageTitle>Home</PageTitle>

<h3>People</h3>
<div class="container">
	<div class="row">
		<div class="col-12">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Age</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var person in _persons)
					{
						<tr>
							<td>@person.Id</td>
							<td>@person.Name</td>
							<td>@person.Age</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="text-center row">
				<button class="btn btn-primary col-2" @onclick="Previous">Previous</button>
				<span class="col-6">Page: @_page</span>
				<button class="btn btn-primary col-2" @onclick="Next">Next</button>
			</div>
		</div>
		
	</div>
</div>

<h3>Add Person</h3>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" @bind="this._personToAdd.Name" />
			</div>
			<div class="form-group">
				<label for="age">Age</label>
				<input type="number" class="form-control" id="age" @bind="this._personToAdd.Age" />
			</div>
			<button class="btn btn-primary" @onclick="AddPerson">Add</button>
		</div>
	</div>
</div>

@code {

	[Inject] private PersonRepository _repo { get; set; } = default!;

	private List<Person> _persons = new List<Person>();
	private int _skip = 0;
	private int _take = 15;
	private int _page = 1;

	private Person _personToAdd = new();

	protected override void OnInitialized()
	{
		_persons = _repo.GetPeople(_skip, _take);
	}

	private void AddPerson(MouseEventArgs args)
	{
		_repo.AddPerson(_personToAdd);
		_personToAdd = new();
		_persons = _repo.GetPeople(_skip, _take);
	}

	public void Previous(MouseEventArgs args)
	{
		_page--;
		_skip -= _take;
		if (_skip < 0)
		{
			_skip = 0;
			_page = 1;
		}
		_persons = _repo.GetPeople(_skip, _take);
	}

	public void Next(MouseEventArgs args)
	{
		int count = _repo.GetPeopleCount();
		if (_skip + _take < count)
		{
			_skip += _take;
			_persons = _repo.GetPeople(_skip, _take);
			_page++;
		}
	}
}
